<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   <h2>{{nombre}}</h2> 
   <h4>Agregando</h4>
   <div class="container h-100">
    <div class="row h-100">
        <div class="col-md-4 my-auto">
         <form id="products"  action="/realtimeproducts">
         <input id="producto" type="text" class="form-control mt-5 rounded-0" placeholder="producto">
         <button class="mt-4 btn btn-danger rounded-0">Agregar producto</button>
         </form>
         </div>
         <div class="col-md-8">

        </div>
    </div>
   
   </div>
</body>

</html>